@model E_Book_eproject.Models.Order

@{
    ViewData["Title"] = "checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="checkout_area section_padding">
    <div class="container">
        
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>DeliveryDistance</h3>
                    <form asp-action="checkout">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="DeliveryDistance" class="control-label"></label>
                            <input asp-for="DeliveryDistance" class="form-control" />
                            <span asp-validation-for="DeliveryDistance" class="text-danger"></span>
                        </div>



                        <div class="form-group">
                            <a asp-action="Orderlist" asp-controller="Cart">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </a>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</section>
@* <h1>checkout</h1>

<h4>Order</h4>
<hr /> *@
@* <div class="row">
    <div class="col-md-4">
        <form asp-action="checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="DeliveryDistance" class="control-label"></label>
                <input asp-for="DeliveryDistance" class="form-control" />
                <span asp-validation-for="DeliveryDistance" class="text-danger"></span>
            </div>
           
          

            <div class="form-group">
                <a asp-action="Orderlist" asp-controller="Cart">
                <input type="submit" value="Create" class="btn btn-primary"/>
                </a>
            </div>
        </form>
    </div *@>
@* </div> *@

<div>
    <a  asp-action="Orderlist" asp-controller="Cart"> Back to List</a>
</div>

